.container {
  margin: 20px auto;
  width: 1000px;

  ul {
    background: #fff;
    list-style: none;

    &.level-1 {
      display: flex;

      li {
        padding: 0 20px 0 0;

        &:hover {
          .level-2 {
            display: block;
          }
        }
      }

      .level-2 {
        background: #fff;
        border: 1px solid #03fce3;
        display: none;
        position: absolute;
        padding: 0;
        margin: 0;

        li {
          padding: 5px 20px;

          &:hover {
            background: #52bab0;
          }
        }
      }
    }
  }
}
