.container {
  margin: 20px auto;
  width: 1000px;

  ul {
    background: #fff;
    list-style: none;

    &.level-1 {
      display: flex;
      color: #03401f;

      li {
        border-right: 1px solid #000;
        font-size: 20px;
        padding: 0 20px;
        min-width: 20%;

        fa-icon {
          color: #666;
        }

        &:last-child {
          border: 0;
        }

        &:hover {
          .level-2 {
            display: block;
          }
        }
      }

      .level-2 {
        background: #fff;
        border: 1px solid #03401f;
        display: none;
        position: absolute;
        padding: 0;
        margin: 0;

        li {
          padding: 5px 20px;

          &:hover {
            background: #52bab0;
            color: #fff;
          }
        }
      }
    }
  }
}
