.container {
  color: #fff;
  display: flex;
  margin: 0 auto;
  width: 1000px;

  ul {
    list-style: none;
  }

  .form-row {
    margin: 20px 0 0 0;

    select {
      margin: 0 10px 0 0;
    }
  }

  input[type=number] {
    width: 80px;
    margin: 0 10px 0 0;
  }

  .add-to-cart {
    border-radius: 5px;
    border: 0;
    color: #fff;
    background: #0ba39e;
    padding: 0 5px;
  }  

  .left {
    width: 480px;

    img {
      width: 480px;
    }
  }
}
