.wrapper {
  height: 100%;

  .header {
    background: #000;
  }

  .top-section {
    background: url('/assets/topsection-background.png') no-repeat;
  }

  .body-section {
    background: #CCC;
  }
}